/* 
  Sidebar - Hidden
  =================
*/
.sidebar_hidden {
  display: flex;
  flex-direction: column;
  align-content: center;

  background-color: var(--background-gray);
  box-shadow: 0px 5px 5px gray;
  z-index: 2;
}

.sidebar_hidden button {
  flex: 1;
  gap: 5px;
  margin: 5px;
}

.sidebar_hidden .open_preview {
  background-color: var(--button-blue);
}

.sidebar_hidden .open_sidebar {
  background-color: var(--button-gray);
}

/* 
  Sidebar Showing
  ================
*/
  .sidebar_showing {
    background-color: var(--background-gray);
  }

/*
  Showing -> Task Form
  =====================
*/
.sidebar_showing > .form_container {
  display: flex;
  gap: 10px;
  margin: 5px;
  padding: 5px;

  border-radius: 5px;
  background-color: var(--button-blue);
}

.sidebar_showing form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar_showing form input {
  max-width: 40px;
  padding: 5px 0;

  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 3px gray;
  text-align: center;
}

.sidebar_showing > .form_container > button {
  width: 40px;
  height: 40px;
}

/*
  Showing -> Tasks
  =================
*/
.sidebar_showing > .tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.sidebar_showing > .tasks .parent {
  background-color: var(--button-gray);
}

.sidebar_showing > .tasks .parent h2 {
  text-align: center;
}