@import '../node_modules/@huntoreocodes/hunter-normalize/hunter-normalize.css';

body, html {
  height: 100%;
}

.taskCard {
  margin: 10px;
  max-width: 200px;

  background: lightblue;
}

.app {
  height: 100%;
  display: grid;
}

/* default */
.app {
  grid-template-areas: 
  "header header header header"
  "sidebar_showing content content content";
  grid-template-rows: 100px auto;
  grid-template-columns: minmax(100px, 300px) auto;
}

/* Sidebar hidden */
.hiddenSidebar_noEditor {
  grid-template-areas:
    "header header header header"
    "sidebar_hidden content content content"
  ;
  grid-template-columns: 50px auto;
}
/* sidebar + taskcreator */
.showingSidebar_withEditor {
  grid-template-areas: 
    "header header header header"
    "sidebar_showing taskCreator content content"
  ;
  grid-template-columns: 150px 200px auto;
}
/* hiddenSidebar + taskCreator */ 
.hiddenSidebar_withEditor {
  grid-template-areas: 
    "header header header header"
    "sidebar_hidden taskCreator content content"
  ;
  grid-template-columns: 50px 200px auto;
}

header { 
  grid-area: header;
  height: 100px;
}

.sidebar_hidden {
  grid-area: sidebar_hidden;
}

.sidebar_showing {
  grid-area: sidebar_showing;
}

.taskCreator {
  grid-area: taskCreator;
}

.content {
  grid-area: content;
}

/* Hide elements */
.hideElem {
  display: none;
}

/* Buttons */
.deleteTaskBtn {
  background: red;
  border: none;
  padding: 2px 4px;
}

.deleteTaskBtn:hover {
  background: darkred;
}