@import '../node_modules/@huntoreocodes/hunter-normalize/hunter-normalize.css';

@import '/src/styles/sidebar.css';
@import '/src/styles/header.css';
@import '/src/styles/content.css';

:root {
  --background-primary: #556177;
  --background-secondary: #FFF;
  --background-gray: #E3E3E3;
  --button-blue: #37BFF9;
  --button-gray: #ADADAD;
  --delete-red: #F54646;
  --path-orange: #F4A04C;
}

body, html {
  height: 100%;
}

.taskCard {
  margin: 10px;
  width: clamp(200px, 20vw, 300px);
  height: clamp(200px, 20vh, 300px);

  background: lightblue;
}

.app {
  height: 100%;
  display: grid;
}

button {
  cursor: pointer;
}

/* 
  Grid Layout 
  =============
*/
.app {
  grid-template-areas: 
  "header header header"
  "sidebar_hidden main main";
  grid-template-rows: 100px auto;
  grid-template-columns: 40px auto;
}

header { 
  grid-area: header;
  height: 100px;
}

.sidebar_hidden {
  grid-area: sidebar_hidden;
}

main {
  grid-area: main;
}

/* 
  Main Layout
  ============
*/
main {
  display: flex;
  flex-direction: row;
}

main .content {
  flex: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
}

main .content .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  max-height: calc(100vh - 100px);
}

main .sidebar_showing,
main .task_creator {
  min-width: clamp(150px, 30vw, 250px);
}

/* Hide elements */
.hideElem {
  display: none;
}

/* Buttons */
.deleteTaskBtn {
  background: red;
  border: none;
  padding: 2px 4px;
}

.deleteTaskBtn:hover {
  background: darkred;
}

/* 
  Effects
  ========
*/
